@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-primary: #1e9df1;
  --color-primary-light: #4eb1f4;
  --color-secondary: #788087;
}

@layer base {
  :root {
    --chart-text: #303946;
    --chart-grid: #0e1218;
  }

  .dark {
    --chart-text: #94a3b8;
    --chart-grid: #bccfe6;
  }
}
